
  .font-1-tittle {
      font: 700 3.25rem 'Poppins', sans-serif;
    }  
  .font-1-sub {
    font: 700 2.25rem 'Poppins', sans-serif;
  }
  .font-1-nav {
    font: 400 1.25rem 'Poppins', sans-serif;
  }

  .font-2-tittle {
    font: 400 2.25rem 'Roboto', sans-serif;
  }
  .font-2-card {
    font: 500 1.5rem "Roboto", sans-serif;
  }
  .font-2-text {
    font: 500 1rem "Roboto", sans-serif;
  }
  
 
  .font-3 {
    font: 400 2.25rem 'Sanchez', sans-serif;
  }
  .font-4 {
    font: 400 2.25rem 'Square Peg', sans-serif;
  }
  

  @media(max-width: 1200px) {    
    .font-1-sub {
      font-size: 1.75rem;
    }
  }
  