.footer-bg{
    margin-top: 80px;
    background: var(--cor-08);
    
}

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 145px;
    padding-top: 80px;
    padding-bottom: 80px;  
    box-sizing: border-box;
    
}

.footer h3, .footer div{
    margin-bottom: 20px;
}

.redes-footer {
    display: flex;
    gap: 20px;
}

.footer li{
    margin-bottom: 8px;
}

.footer a:hover{
    color: var(--cor-05);
}

@media (max-width:1200px){
    .footer{
        gap: 100px;
    }
}

@media (max-width:1100px){
    .footer{
        grid-template-columns: 1fr 1fr;
        gap: 60px;
    }
    .footer .quem-somos{
        grid-column: 1/-1;
    }
}

@media (max-width:750px){
    .footer{
        grid-template-columns: 1fr;
    }
    
}