.tag{    
    margin-top: 40px;
    margin-bottom: 20px;
}

.sistema {
    text-align: center;
}

.sistema h2{        
    margin-bottom: 60px;    
}

.card, .card-pdv {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    text-align: left;    
    max-height: 640px; 
    overflow: hidden;
    transition: 1s;   
    padding-bottom: 20px;  
}

.card-pdv {
    content-visibility: hidden;
}

.card-emissor-hidden{
    content-visibility: hidden;
}

.card-pdv-visible {
    content-visibility: visible;
    padding-bottom: 80px;
}

.btn-hidden {
    display: none;    
}

.open{
    max-height: 1340px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    text-align: left; 
    transition: 1s;
}

.escolha-sistema {
    display: flex;
    gap: 16px;
    text-align: left;
    padding-left: 40px;
    margin:40px 0px 40px 0px;      
    align-items: center;   
    box-sizing: border-box;
}

.emissor {
    background-color: var(--cor-06);       
}

.pdv {
    background-color: var(--cor-03);  
}

.emissor, .pdv {
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;  
    font-family: 'Poppins', sans-serif;
    font-weight: 500;  
    font-size: 0.75rem;
    color: var(--cor-00);
    transition: 0.5s;
}

.card div, .card-pdv div {
    display: grid;
    gap: 32px;
    padding: 40px;               
}

button {
    margin-top: 40px;
    margin-bottom: 80px;
}

@media (max-width:1360px){    
    .open {
        max-height: 1400px;
    }   
}

@media (max-width:1260px){    
    .card {
        padding-bottom: 50px;  
    }    
    .open {
        max-height: 1600px;
    }  
    #botaoSistema {
        margin-top: 10px;
    }
}

@media (max-width:1150px){    
    .card, .card-pdv{
        grid-template-columns: 1fr 1fr;
    }
    .card-pdv{
        max-height: 1660px;
        margin-bottom: 40px;
    }
    .card, .card-pdv{
        padding-bottom: 0px;
    }    
    .open {
        max-height: 2000px;
    }  
}

@media (max-width:1080px){    
    .open {
        max-height: 2330px;
    }  
}

@media (max-width:850px){        
    .card, .card-pdv{
        padding-bottom: 25px;
    } 
}

@media (max-width:650px){   
    .sistema {
        padding-bottom: 60px;
    } 
    .sistema h2{        
        font-size: 1.25rem;  
    }
    .card, .card-pdv{
        display: flex;
        overflow-x: auto;
    }
    .card-pdv{
        padding-bottom: 0px;
    }
    .card div{
        min-width: 350px;        
    }
    .card-pdv div{
        min-width: 350px;        
    }
    .sistema button {
        display: none;
    }
}